.comments:empty {
  margin: 1em;
  text-align: center;
}
.comments:empty::after {
  content: "No comments found."
}

.comment {
  background: #fff;
  font-size: 12px;
  margin: 1em;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12);
}

.comment-diff {
  font-family: Space Mono, SF Mono, Menlo, Consolas, monospace;
  display: block;
  background: #202340;
  color: #f9f9fa;
  white-space: pre;
  overflow: auto;
}

.comment-body {
  text-align: justify;
  padding: 1em;
}

.comment-reopen,
.comment-resolve {
  background: #30e60b;
  color: #000;
  border: 1px solid rgba(0,0,0,0.2);
  font: inherit;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}