.comments:empty {
  margin: 1em;
  text-align: center;
}
.comments:empty::after {
  content: "No comments found."
}

ul {
  padding: 0;
  margin: 0;
}

.user {
  margin: 1em;
  margin-top: 2em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #ebebeb;
}

.user > * {
  vertical-align: middle;
}
.user-avatar {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  margin-right: .5em;
}

.user-action {
  opacity: 0.5;
}
.comment {
  background: #fff;
  font-size: 12px;
  margin: 1em;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12);
}

.comment-filepath {
  font-family: Menlo, Consolas, monospace;
  background: #0f1126;
  width: 100%;
  font-size: 1.1em;
  display: block;
  padding: 5px;
  color: white;
}
.comment-diff {
  font-family: Menlo, Consolas, monospace;
  display: block;
  background: #202340;
  color: #f9f9fa;
  white-space: pre;
  overflow: auto;
}

.comment-contents {
  display: flex;
  
}

.comment-reopen,
.comment-resolve,
.comment-view-file {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #30e60b;
  color: #000;
  font: inherit;
  padding: 0 10px;
  border: none;
  border-left: 1px solid rgba(0,0,0,0.1);
}

.comment-reopen::before,
.comment-resolve::before,
.comment-view-file::before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-bottom: 5px;
}

.comment-reopen {
  background: #ff0039;
  color: white;
}

.comment-view-file {
  background: white;
}

.comment-resolve::before {
  background-image: url(../images/resolve.svg);
}

.comment-reopen::before {
  background-image: url(../images/unresolve.svg);
}

.comment-view-file::before {
  background-image: url(../images/open-file.svg);
}

.comment-body {
  text-align: justify;
  padding: 1em;
  flex: 1;
}
